:root{
    --background-color1: #2F303A;
    --background-color2: #FFFFFF;
    --hovercolor1: #F5F4FA;
    --hovercolor2: #2196F3;
    --main-text: #757575;
    --sub-text: #212121;
}
  
.roboto-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-style: normal;
}
  
.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500px;
    font-style: normal;
}
  
.roboto-700 {
    font-family: "Roboto", sans-serif;
    font-weight: 700px;
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
}